*
{
	margin: 0;
	padding: 0;
}

.App
{
	background: Black;
	border: 1px solid Black;
	box-shadow: 0 0 16px Black;
	padding: 0.5em;
	text-shadow: 0 0 8px White;
}

.App:before
{
	opacity: 0.9;
}

.App .Layout
{
	padding: 0.5em;
}
