*
{
	font-family: HelveticaNeue;
	margin: 0;
	outline: none;
	padding: 0;
	user-select: none;
	-webkit-tap-highlitght-color: transparent;
}

body
{
	background: -webkit-linear-gradient(45deg, #00B8D4, #263238);
	background-position: center;
	object-fit: cover;
}

.App
{
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid Black;
	border-radius: 8px;
	box-shadow: 0 0 16px Black;
	padding: 0.5em;
	text-shadow: 0 0 8px White;
}

.App .Button
{
	background: -webkit-linear-gradient(top, #EEEEEE, #949494, #AAAAAA);
	border: 1px solid Gray;
	border-radius: 8px;
	padding: 0.5em 2em;
	transition: all 025s ease-in-out;
}

.App .Button:active
{
	background: -webkit-linear-gradient(top, #AAAAAA, #949494, #EEEEEE);
	color: white;
}

.App .Layout
{
	background: White;
	margin-top: 0.5em;
	padding: 0.5em;
}

.App .TextField
{
	background: #EEEEEE;
	border: 1px solid Gray;
	border-radius: 4px;
	color: #949494;
	font-family: Consolas, monospace;
	height: 320px;
	padding: 0.5em;
	resize: none;
	width: 99%;
}

.App .TextField::selection
{
	color: White;
	background: Red;
}

.App .TextField::-webkit-scrollbar
{
	width: 8px;
}

.App .TextField::-webkit-scrollbar-thumb
{
	background: #03A4F9;
}

.App .TextField::-webkit-scrollbar-track
{
	background: #FFFFFF;
}

@font-face
{
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue-UltraLight.ttf);
}

@media (width: 412px;)
{
	.App .TextField
	{
		width: 95%;
	}
}
