*
{
	font-family: HelveticaNeue;
	margin: 0;
	padding: 0;
}

body
{
	background: linear-gradient(145deg, #00B8D4, #263238);
	background-position: center;
	object-fit: cover;
}

.App
{
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid Black;
	border-radius: 8px;
	box-shadow: 0 0 16px Black;
	padding: 0.5em;
	text-shadow: 0 0 8px White;
}

.App .Layout
{
	background: White;
	margin-top: 0.5em;
	padding: 0.5em;
}


@font-face
{
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue-Light.ttf);
}
